body{
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(144, 42, 158, 1) 58%, rgba(0, 212, 255, 1) 95%);
}
#auth {
    padding: 20px;
    /* background-color: rgba(0,0,0,0.7); */
    background-image: url(WhatsApp\ Image\ 2025-02-11\ at\ 00.39.24.jpeg);
    background-size: cover;
    border-radius: 50px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    color: whitesmoke;
}

#auth h2, #auth h3 {
    margin-bottom: 20px;
}

#loginForm, #registerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#loginForm label, #registerForm label {
    margin-bottom: 10px;
    font-size: 1.2rem;
}

#loginForm input, #registerForm input {
    padding: 10px;
    margin-bottom: 15px;
    width: 80%;
    border-radius: 30px;
    border: none;
}

#loginForm button, #registerForm button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ff6f61;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loginForm button:hover, #registerForm button:hover {
    background-color: #ff3b2f;
}

#authMessage {
    margin-top: 15px;
    font-size: 1rem;
}
hr{
    height: 5px;
    background-color: whitesmoke;
}